.form-text {
  display: none;
}

form.validated input:valid,
form.validated textarea:valid {
  border: 2px solid green;
}

form.validated input:invalid,
form.validated textarea:invalid {
  border: 2px solid red;
}

form.validated input:invalid + div,
form.validated textarea:invalid + div {
  display: block;
}
